@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;800&display=swap');

body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #e9eff5, #dae6ef);
}

/* HEADER */
.main-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(135deg, #4B3A2F, #bc9b85);
    color: white;
    animation: fadeDown 1s ease-out;
    border-bottom: 8px solid #4B3A2F;
}

.main-header h1 {
    margin: 0;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1px;
}

.main-header p {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.9;
}

/* GRID STYLE */
.crafts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 35px;
    padding: 55px;
}

/* CARDS */
.craft-card {
    background: white;
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: black;

    box-shadow: 0 12px 25px rgba(0,0,0,0.1);

    transition: 0.35s ease;
    cursor: pointer;

    transform: scale(0.8);
    opacity: 0;
    animation: popIn 0.7s forwards cubic-bezier(0.22, 1, 0.36, 1);

    border: 2px solid #ffffff;
    position: relative;

    overflow: hidden;
}

/* Hover Glow Effect */
.craft-card::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 146, 183, 0.12);
    transition: 0.4s;
}

.craft-card:hover::before {
    top: 0;
}

/* Hover Elevation */
.craft-card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 22px 40px rgba(0,0,0,0.18);
    border-color: #d69d58;
}

/* IMAGE BOX */
.craft-card .img {
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, #bfc9cf, #dce4eb);
    border-radius: 15px;
    margin-bottom: 18px;
    background-size: cover;
    background-position: center;
    transition: 0.4s ease;
}

/* Image hover animation */
.craft-card:hover .img {
    transform: scale(1.05);
    filter: brightness(1.08);
}

/* CARD TITLE */
.craft-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    transition: 0.3s ease;
}

.craft-card:hover h3 {
    color: #6b3500;
}

/* ANIMATIONS */
@keyframes popIn {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeDown {
    0% { opacity: 0; transform: translateY(-25px); }
    100% { opacity: 1; transform: translateY(0); }
}

.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    background: #4B3A2F;
    color: #fff;
    padding: 10px 18px;

    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15);

    transition: 0.3s ease;
    z-index: 9999;
}

.home-btn:hover {
    background: #d69d58;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
 